DATABASE_URL=postgres://mbmqkstknoubbg:144f535dfbdf0ed24ad5c4571692990044c7895aeebf2c6515449315e8196cfd@ec2-107-23-76-12.compute-1.amazonaws.com:5432/d552irkpuac5sq
ENCRYPTION_SECRET=SgVkYp2s5v8y/B?E(H+MbQeThWmZq4t6 #256-bits secret (can be generated here: https://www.allkeysgenerator.com/Random/Security-Encryption-Key-Generator.aspx)
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_VIEWER_URL=http://localhost:3001

GITHUB_CLIENT_ID=3cc52d803b288a2741a5
GITHUB_CLIENT_SECRET=e60f68b6ec5b371374e3a0f501768df94754525b

S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
S3_BUCKET=typebot
S3_PORT=9000
S3_ENDPOINT=localhost
S3_SSL=false

# For more configuration options check out:
# https://docs.typebot.io/self-hosting/configuration
